bazel-*
bazel-bin
bazel-out
bazel-testlogs
bazel-workspace
.bazelrc.user

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env
.env.*
!.env.example

logs/
*.log

.DS_Store
Thumbs.db

.idea/
.vscode/
*.iml

dist/
build/
tmp/
temp/
