# DB 없는 BFF
SERVER_PORT=8083
SWAGGER_ENABLED=true
APPLICATION_GRPC_HOST=localhost
APPLICATION_GRPC_PORT=9090
APPLICATION_GRPC_DEADLINE_MS=3000
APPLICATION_GRPC_LIST_DEADLINE_MS=10000
NOTIFICATION_GRPC_HOST=localhost
NOTIFICATION_GRPC_PORT=9094
LOGGING_LEVEL_ROOT=INFO
